- function getIcon(name) {
-   var special = {};
-   special.blog = 'si-doc-text-inv';
-   special.email = 'si-mail';
-   special.report = 'si-doc-text-inv';
-   return special[name] ? special[name] : 'si-' + name;
- }

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Paul Nechifor’s projects
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='/favicon152.png')
    style: :stylus(compress=true)
      project-width = 360px
      project-margin = 20px
      project-total-width = project-width + 2 * project-margin
      body
        font-size 1.2em
        line-height 1.4
        margin 0
      h1, footer
        text-align center
      a
        text-decoration none
        &:hover
          text-decoration underline
      .projects
        margin 0 auto
        for i in (1..10)
          @media (min-width: i * project-total-width + 20px)
            width i * project-total-width
        .project
          margin 0 project-margin 40px
          width project-width
          height 246px
          max-width 100%
          float left
          h3
            font-size 22px
            font-weight bold
            margin 0
            .links a
              display block
              float right
          p
            margin 0
          img
            width 100%
        @media (max-width: project-total-width)
          .project
            height auto
            width auto
            margin 0 10px 10px
  body
    .header: :markdown-it
      # [Paul Nechifor’s Projects](.)
    .projects
      each p in info
        .project
          h3= p.name
          a(href=p.url)
            img(src='screenshots/' + screenshots[p.code].default, alt=p.name + ' screenshot')
          p= p.desc
      div(style='clear:both')
    footer: p © 2013–2017 <a href='/'>Paul Nechifor</a>
